<%= form_tag "/manage_users/delete_multiple", :method => :get do %>

<table class="user_list" border="1">
  <tr class="header">
    <th></th>
    <th>Id</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Creation Date</th>
  </tr>
<% 0.upto(@users.length-1) do |i| %>
  <tr class="<% if i % 2 == 0%>odd-row<% else %>even-row<% end %>">
    <td><%= check_box_tag "selected_user#{@users[i].id}", @users[i].id %></td>
    <td><%= @users[i].id %></td>
    <td><%= @users[i].email %></td>
    <td><%= @users[i].is_admin %></td>
    <td><%= @users[i].created_at %></td>
  </tr>
<% end %>
</table>

<%= submit_tag "Delete", data: { confirm: 'Are you sure?' }%>

<% end %>
