<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @todo.description %>
</p>

<p>
  <b style="border:solid 2px;background-color:<%= @todo.color %>;">Color</b>
  (<%= @todo.color %>)
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
